@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mobile-header-height: calc(56px + env(safe-area-inset-top));
    --app-height: 100dvh;
}

@layer base {
    html {
        background-color: #0f0f1a;
        margin: 0;
        padding: 0;
        padding-bottom: env(safe-area-inset-bottom);
        width: 100%;
        height: 100%;
    }

    body {
        background-color: #0f0f1a;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #root {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}